.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 30px;
}

body::-webkit-scrollbar {
    display: none;
}

.content-input-wrapper {
    height: 100%;
}

.slide-fade-enter-active {
    transition: all .4s ease-in-out;
}

.wrap_image {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 150px;
    height: 100px;
}

.image {
    width: 100%;
    height: 100%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.v-overlay:before {
    background-color: #D0D3D4;
}

.avatar-img-width {
    height: auto !important;
    width: 100% !important;
}

.avatar-img-height {
    height: 100% !important;
    width: auto !important;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(0, 0, .58, 1)
}

.clearAll {
    margin: 0 !important;
    padding: 0 !important;
}

.clearPadding {
    padding: 0 !important;
}

.clearMargin {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.slide-fade-enter {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.icon {
    height: auto;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}
