.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 25px;
}

body::-webkit-scrollbar {
    display: none;
}

.wrap_image {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 150px;
    height: 100px;
}

.image {
    width: 100%;
    height: 100%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.v-overlay:before {
    background-color: #D0D3D4;
}

.avatar-img-width {
    height: auto !important;
    width: 100% !important;
}

.avatar-img-height {
    height: 100% !important;
    width: auto !important;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(0, 0, .58, 1)
}

.slide-fade-enter-active {
    transition: all .4s ease-in-out;
}
.clearAll {
    margin: 0 !important;
    padding: 0 !important;
}

.clearPadding {
    padding: 0 !important;
}

.clearMargin {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.slide-fade-enter {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.limit-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */
{
    transform: translateX(50px);
    opacity: 0;
}

.fade {
    transition: opacity .3s ease-out;
}

.capital {
    text-transform: capitalize
}

.mycard {
    width: 95%;
    margin-left: 2.5%;
    height: 700px;
    box-shadow: none;
    border-radius: 15px;
}

.word {
    padding-top: 25%;
    padding-left: 30%;
    font-weight: 600;
    font-size: 40px;
    font-family: 楷体, serif;
    color: #BBBBBB;
}

.limit-2line {
    line-height: 22px !important;
    max-height: 44px !important;
    margin: 0 0 3px !important;
    overflow: hidden !important;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
}

.limit-3line {
    line-height: 22px !important;
    max-height: 66px !important;
    margin: 0 0 3px !important;
    overflow: hidden !important;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
}

.hr {
    width: 98%;
    margin-left: 1%;
    border: none;
    border-top: 1.5px solid #BBBBBB;
}

.hr-dotted {
    border: none;
    border-top: 1.5px dotted #BBBBBB;
}

.hr-dash {
    border: none;
    border-top: 1.5px dashed #BBBBBB;
}

.v-tabs__div {
    text-transform: none;
}
